<!DOCTYPE html>
<html>
<head>
	<title>Sinatra Caeser Cipher</title>
</head>
<body>
	<h1>Sinatra Caeser Cipher</h1>
	<p>Enter your string to encrypt, and the shift factor to be used:</p>
	<form> 
		<input type = 'text' name = 'text_in'>
		<select name = 'shift_in'>
			<%= shift_val %>
		</select>
		<input type = 'submit' value = 'Encrypt!'>
	</form>
	</br>
	<p><%= output %>
</body>
</html>
