<!DOCTYPE html>
<html>
<head>
	<title>Sinatra Caeser Cipher</title>
	<link rel=stylesheet type="text/css" href="./stylesheets/default.css">
	<header><h1>Sinatra Caeser Cipher</h1></header>
</head>
<body>
	<h3>Enter your string to encrypt, and the shift factor to be used:</h3>
	<form> 
		<textarea name = 'text_in' class="wide_textbox"></textarea>
		<div class = "shift"><label>Shift Factor</label>
			<select name = 'shift_in'>
				<%= shift_val %>
			</select>
		</div>
		<input type = 'submit' value = 'ENCRYPT!' class="encrypt">
	</form>
	</br>
	<%= "<h3>Your encrypted string is:</h3>" unless output == nil or output == "" %> 
	<div class = "output"><p><%= output %></p></div>
</body>
</html>
